@import "variables";
@mixin link-transition {
    -webkit-transition: 1s color;
    transition: 1s color;
}

body.blackout-mode {
    /* Universal Styles */ 
    background: $black;
    color: $white;
    a:link,
    a:visited {
        color: $white;
    }
    a:hover {
        border-bottom: 2px solid $teal;
        color: $orange;
        @include link-transition;
    }
    /* Active Navigation Link */
    .active-nav {
        color: $orange;
        &:visited {
            color: $orange;
        }
    }
    h2 {
        color: $orange;
    }
    /* Hero */ 
    #hero {
        .content-container {
            border: 10px solid $teal;
            span.black-lives {
                color: $orange;
            }
        }
    }
    /* Resources Tabs */
    #resources {
        /* The Categories */
        .category {
            background: none;
            overflow: hidden;
        }
        /* Category buttons */
        .category-button:hover {
            background-color: $light-teal;
            color: $black;
        }
        /* Changes color depending on active page */
        .category-button.active-cat {
            background: $teal;
            color: $black;
            &:hover {
                background: $orange;
                color: $black;
            }
        }
        .tab-content {
            h3 {
                color: $orange;
            }
            h4 {
                span {
                    color: $light-teal;
                }
            }
            .tags {
                color: $black;
            }
            span.tags {
                &:nth-of-type(even) {
                    background: $orange;
                    color: $black;
                }
                &:nth-of-type(odd) {
                    background: $teal;
                    color: $black;
                }
            }
            /* Filter buttons */ 
            .btn:hover {
                background: $orange;
            }
            .btn:not(.active-filter) {
                color: $white;
                &:hover {
                    background: $light-teal;
                    color: $black;
                    opacity: 1;
                }
            }
            .btn.active-filter {
                background: $teal;
                color: $black;
                &:hover {
                    background: $orange;
                }
            }
        }
    }
    /* Contribution Section */
    #contribute {
        span {
            a:link,
            a:visited {
              color: $teal;
            }
            a:hover {
              color: $light-teal;
            }
          }
    }
}