@import "variables";
@mixin link-transition {
    -webkit-transition: 1s color;
    transition: 1s color;
}

body.blackout-mode {
    /* Universal Styles */ 
    background: $black;
    color: $white;
    a:link,
    a:visited {
        color: $white;
    }
    a:hover {
        border-bottom: 2px solid $blue;
        color: $orange;
        @include link-transition;
    }
    h2 {
        color: $orange;
    }
    /* Hero */ 
    #hero {
        .content-container {
            border: 10px solid $blue;
            span.black-lives {
                color: $orange;
            }
        }
    }
    /* Resources Tabs */
    #resources {
        .category button {
            background-color: inherit;
            border: none;
            color: $black;
        }
        .category button:hover {
            background-color: $orange;
        }
        .category button.active {
            background-color: $blue;
        }
        .category button:not(.active) {
            color: $white;
            &:hover {
                color: $black;
            }
        }
        .tab-content {
            h3 {
                color: $orange;
            }
            h4 {
                span {
                    color: $orange;
                }
            }
            .tags {
                color: $black;
            }
            span.tags {
                &:nth-of-type(even) {
                    background: $orange;
                }
                &:nth-of-type(odd) {
                    background: $blue;
                }
            }
            /* Filter buttons */ 
            .btn:hover {
                background: $orange;
            }
            .btn:not(.active-filter) {
                color: $white;
                &:hover {
                    background: $orange;
                    color: $black;
                }
            }
            .btn.active-filter {
                color: $black;
            }
        }
    }
}