/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Color Mode Imports */
/* Fonts & Colors */
/* Animations */
/* Fonts */
body.blackout-mode {
  /* Universal Styles */
  background: #1b1b1c;
  color: #f4f3ee;
  /* Hero */
  /* Resources Tabs */ }
  body.blackout-mode a:link,
  body.blackout-mode a:visited {
    color: #f4f3ee; }
  body.blackout-mode a:hover {
    border-bottom: 2px solid #1e555c;
    color: #ff9b54;
    -webkit-transition: 1s color;
    transition: 1s color; }
  body.blackout-mode h2 {
    color: #ff9b54; }
  body.blackout-mode #hero .content-container {
    border: 10px solid #1e555c; }
    body.blackout-mode #hero .content-container span.black-lives {
      color: #ff9b54; }
  body.blackout-mode #resources .tab button {
    background-color: inherit;
    border: none;
    color: #1b1b1c; }
  body.blackout-mode #resources .tab button:hover {
    background-color: #ff9b54; }
  body.blackout-mode #resources .tab button.active {
    background-color: #1e555c; }
  body.blackout-mode #resources .tab button:not(.active) {
    color: #f4f3ee; }
    body.blackout-mode #resources .tab button:not(.active):hover {
      color: #1b1b1c; }
  body.blackout-mode #resources .tab-content h3 {
    color: #ff9b54; }
  body.blackout-mode #resources .tab-content .tags {
    color: #1b1b1c; }
  body.blackout-mode #resources .tab-content span.tags:nth-of-type(even) {
    background: #ff9b54; }
  body.blackout-mode #resources .tab-content span.tags:nth-of-type(odd) {
    background: #1e555c; }

/* Fonts & Colors */
/* Animations */
/* Fonts */
.light-mode {
  /* Universal Styles */
  background: #f4f3ee;
  color: #1b1b1c;
  /* Hero */
  /* Resources Tabs */ }
  .light-mode a:link,
  .light-mode a:visited {
    color: #1b1b1c; }
  .light-mode a:hover {
    border-bottom: 2px solid #1e555c;
    color: #720026;
    -webkit-transition: 1s color;
    transition: 1s color; }
  .light-mode h2 {
    color: #720026; }
  .light-mode #hero {
    /* Protect Black Lives Intro */ }
    .light-mode #hero .content-container {
      border: 10px solid #1e555c; }
      .light-mode #hero .content-container span.black-lives {
        color: #720026; }
  .light-mode #resources {
    /* The tab */
    /* Tab buttons */
    /* Change background color of buttons on hover */
    /* Active button class */ }
    .light-mode #resources .tab {
      background: none;
      overflow: hidden; }
    .light-mode #resources .tab button {
      background-color: inherit;
      border: none;
      color: #f4f3ee; }
    .light-mode #resources .tab button:hover {
      background-color: #720026; }
    .light-mode #resources .tab button.active {
      background-color: #1e555c; }
    .light-mode #resources .tab button:not(.active) {
      color: #1b1b1c; }
      .light-mode #resources .tab button:not(.active):hover {
        color: white; }
    .light-mode #resources .tab-content {
      border: none;
      /* Filter buttons */
      /* Add a background color to the button on hover */
      /* Change background to active class */ }
      .light-mode #resources .tab-content h3 {
        color: #720026; }
      .light-mode #resources .tab-content .tags {
        color: #f4f3ee; }
      .light-mode #resources .tab-content span.tags:nth-of-type(even) {
        background: #720026; }
      .light-mode #resources .tab-content span.tags:nth-of-type(odd) {
        background: #1e555c; }
      .light-mode #resources .tab-content .btn {
        background: none; }
      .light-mode #resources .tab-content .btn:hover {
        background: #720026; }
      .light-mode #resources .tab-content .btn:not(.active-filter):hover {
        color: #f4f3ee; }
      .light-mode #resources .tab-content .btn.active-filter {
        background: #1e555c;
        color: #f4f3ee; }

/* Fonts & Colors */
/* Animations */
/* Fonts */
/* Fonts & Colors */
/* Animations */
/* Fonts */
/* Mobile Styles */
body {
  font: 400 14px "Chivo", sans-serif; }

h1, h2, h3 {
  font: "Archivo Black", sans-serif;
  text-transform: uppercase; }

a:link,
a:visited {
  font-weight: 700;
  text-decoration: none; }

.fade {
  display: none; }

.content-wrapper {
  margin: 0px 25px; }

/* Header */
header {
  /* Toggle container */
  /* Toggle switch */ }
  header nav {
    margin: 0 auto;
    min-width: 190px;
    max-width: 200px; }
    header nav ul {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      list-style: none;
      padding: 0; }
      header nav ul li {
        text-transform: uppercase; }
  header .toggle-mode {
    display: flex;
    flex-flow: row nowrap;
    max-width: 200px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin: 0 auto; }
    header .toggle-mode p {
      margin-top: 45px;
      text-transform: uppercase; }
  header .switch {
    position: relative;
    display: inline-block;
    top: 15px;
    width: 48px;
    height: 24px; }
  header .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  header .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d1ecf0;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    header .slider:hover {
      opacity: .5; }
  header .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #1e555c;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
  header input:checked + .slider {
    background: #1e555c; }
  header input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background-color: #d1ecf0;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
  header .slider.round {
    border-radius: 50px; }
  header .slider.round:before {
    border-radius: 50px; }
  header aside p {
    margin: 0 auto;
    margin-top: 25px;
    max-width: 320px;
    text-align: justify;
    text-transform: uppercase; }

/* About Section */
#about {
  display: none; }

/* Hero */
#hero {
  /* Protect Black Lives Intro */ }
  #hero .content-container {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 320px; }
    #hero .content-container h1 {
      font-size: 3rem;
      line-height: 3rem;
      padding-left: 20px; }
    #hero .content-container span {
      display: block; }
  #hero aside p {
    margin: 0 auto;
    margin-top: 25px;
    max-width: 320px;
    text-align: justify;
    text-transform: uppercase; }

/* Resources Tabs */
#resources {
  margin-top: 35px;
  /* Style the buttons that are used to open the tab content */
  /* Style the tab content */ }
  #resources h2 {
    line-height: .30rem; }
  #resources .tab {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }
  #resources .tab button {
    font-weight: 700;
    margin-top: 5px;
    min-width: 80px;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 1s; }
  #resources .tab-content {
    display: none;
    min-height: 500px;
    overflow: scroll;
    animation: fade 1s;
    /* The resource tags */
    /* Filter through the resources */
    /* The "show" class is added to the filtered elements */
    /* Style the buttons */ }
    #resources .tab-content h3 {
      line-height: 1rem; }
      #resources .tab-content h3 span {
        display: block; }
    #resources .tab-content h4 {
      line-height: .10rem; }
      #resources .tab-content h4 span {
        color: #1e555c; }
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    #resources .tab-content .tags {
      display: inline-block;
      font-size: .75rem;
      font-weight: 700;
      margin: 2px 0px 5px 0px;
      padding: 2.5px 5px;
      text-transform: uppercase; }
      #resources .tab-content .tags:hover {
        cursor: pointer;
        opacity: .75;
        transition: .5s; }
    #resources .tab-content a {
      margin-right: 5px; }
    #resources .tab-content .filter-buttons {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      justify-content: flex-start; }
    #resources .tab-content .filter-content-container {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
      margin-top: 10px; }
    #resources .tab-content .filterDiv {
      display: none;
      /* Hide by default */
      margin: 0; }
    #resources .tab-content .show {
      display: block; }
    #resources .tab-content .btn {
      background-color: #f1f1f1;
      border: none;
      cursor: pointer;
      outline: none;
      font-size: .75rem;
      font-weight: 700;
      margin-top: 5px;
      min-width: 80px;
      outline: none;
      cursor: pointer;
      padding: 5px 5px;
      text-align: center;
      text-transform: uppercase;
      transition: 1s; }

/* Tablet Styles */
@media screen and (min-width: 768px) {
  #resources {
    min-width: 600px;
    max-width: 600px;
    margin: 0 auto; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
